body {
    font-family: 'Franklin Gothic Medium','Times New Roman', Times, serif;
    background-color: #573aff62;
    color: rgba(26, 20, 20, 0.849);
}

.cupcake {
    display: flex;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.flex1 {
    /* flex : 1 */
}

.flex2 {
    flex : 2
}

.pl1 {
    padding-left: 1em;
}

.img {
    align-self: flex-start;
    height: auto; 
    max-width: 100%;
}


.cupcake_box {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.cupcake1 {
    background-color: #ff006e;
}

.cupcake2 {
    background-color: #fb5607;
}

.cupcake3 {
    background-color: #8338ec;
}

.blue {
    background-color: #3a86ff;
}